* {
  box-sizing: border-box;
}
.body {
  font-family: "Jost", sans-serif;
}
.container-small {
  max-width: 69.375rem;
  margin: auto;
  padding: 0;
}
.container-large {
  max-width: 1380px;
  margin: auto;
  padding: 0;
}
.nav {
  margin-bottom: 41px;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 11px;
}
.nav-link {
  display: flex;
  gap: 1.875rem;
}
.nav-link-item {
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.nav-icon {
  display: flex;
  text-decoration: none;
  gap: 0.5313rem;
  height: 12px;
}
.nav-phone {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.hr {
  border: none;
  color: rgb(236, 243, 255);
  background-color: rgb(236, 243, 255);
  height: 1px;
  margin-bottom: 30px;
}
.nav-bottom {
  display: flex;
}
.logo {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  text-decoration: none;
  margin-right: 38px;
}
.button {
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 5px;
  background: rgb(111, 115, 238);
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.button-content {
  display: flex;
  padding: 8px 18px 9px 15px;
  gap: 13px;
}
.button-text {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.button-menu {
  margin-right: 20px;
}
.search-form {
  position: relative;
  width: 603px;
  margin: 0 auto;
  margin-right: 47px;
}
.search input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 5px;
  outline: none;
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.search button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  border: none;
  background: rgb(111, 115, 238);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-icon {
  padding: 12px;
}
.nav-bottom-icon {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.nav-bottom-icon-items {
  text-decoration: none;
}
.shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shopping-cart-text {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.header {
  margin-bottom: 72px;
}
.header-content {
  background-image: url("../img/header-image.jpeg");
  background-size: cover;
  position: relative;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -2;
  padding-top: 56px;
  padding-left: 158px;
  border-radius: 10px;
}
.header-content::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    18.78deg,
    rgb(111, 115, 238) 17.368%,
    rgba(111, 115, 238, 0) 67.018%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}
.header-content-adress {
  display: flex;
  margin-bottom: 19px;
}
.header-content-adress-image {
  margin-right: 8px;
}
.address {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-right: 10px;
}
.time {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.header-title {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 35px;
  font-weight: 600;
  line-height: 51px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
  padding-right: 618px;
}
.header-text {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  margin-bottom: 28px;
}
.header-feautures {
  display: flex;
  gap: 35px;
  margin-bottom: 38px;
}
.header-feautures-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 204px;
}
.header-feautures-text {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 6px;
}
.button-light {
  color: rgb(111, 115, 238);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  cursor: pointer;
  width: 159px;
  padding: 15px 40.5px;
  border: 1.3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin-bottom: 56px;
}
.test-drive {
  margin-bottom: 100px;
}
.test-drive-wrapper {
  display: flex;
}
.title {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 35px;
  font-weight: 600;
  line-height: 51px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 28px;
  padding-right: 130px;
  margin-bottom: 40px;
}
.test-drive-title {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 35px;
  font-weight: 600;
  line-height: 51px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 28px;
  padding-right: 130px;
  margin-bottom: 40px;
}
.test-drive-text {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  margin-bottom: 15px;
}
.test-drive-list {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.test-drive-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.test-drive-content {
  padding-left: 125px;
}
.swiper-wrapper {
  display: flex;
  padding: 0;
}
.swiper-slide {
  border: 1.5px solid rgb(234, 235, 237);
  border-radius: 10px;
  position: relative;
}
.hit {
  position: absolute;
  top: 10px;
  left: 10px;
}
.balance {
  position: absolute;
  right: 17px;
  top: 18px;
}
.slider-text {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 22px;
}
.models-title {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;
}
.parametrs-list {
  padding: 0;
  list-style: none;
  columns: 2;
  margin-bottom: 25px;
}
.parametrs-list-item {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  color: rgb(93, 108, 123);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.sale {
  text-decoration: line-through;
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.price {
  margin: 0;
  margin-bottom: 21px;
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}
.circle-1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1.3px solid rgb(234, 235, 237);
  position: absolute;
  right: 75px;
  bottom: 76px;
}
.circle-2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1.3px solid rgb(234, 235, 237);
  position: absolute;
  right: 25px;
  bottom: 76px;
}
.buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-icon {
  display: flex;
}
.button-models {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  padding: 9px 20px;
  margin-bottom: 20px;
  width: 100%;
  background: rgb(111, 115, 238);
}
.shopping-cart-2,
.heart-2 {
  position: absolute;
  top: 10px;
  left: 9px;
  right: 11px;
  bottom: 9px;
}
.models-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.models {
  margin-bottom: 100px;
}
.request-form-wrapper {
  background: rgb(244, 247, 251);
  border-radius: 10px;
}
.request-form-wrapper {
  position: relative;
}
.form-photo {
  position: absolute;
  bottom: 0;
  right: 180px;
}
.request-form {
  padding-top: 88px;
  padding-left: 135px;
}
.request-form-title {
  margin: 0;
  padding: 0;
  padding-right: 632px;
  margin-bottom: 40px;
}
.request-form-text {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  margin-bottom: 21px;
}
.input-group-wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
}
.checkbox-wrapper {
  padding-bottom: 78px;
  display: flex;
}
.input {
  border: 1px solid rgb(234, 235, 237);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 15px 52px 15px 25px;
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 2px;
  width: 263px;
  margin-right: 20px;
}
.input:focus {
  border: 1px solid rgb(93, 108, 123);
  outline: 0;
}
.button-request {
  padding: 15px 25px;
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.checkbox {
  margin-right: 12px;
}
.checkbox-pointer {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  width: 16px;
  height: 16px;
}
.checkbox-text {
  margin: 0;
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  padding-right: 892px;
}
.request {
  margin-bottom: 100px;
}
.form-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(111, 115, 238);
}
.form-footer-text {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin: 0;
  margin-left: 165px;
  margin-right: 90px;
  text-transform: uppercase;
}
.button-form-footer {
  background: rgb(255, 255, 255);
  padding: 15px 25px;
  color: rgb(111, 115, 238);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.footer-input {
  background: rgba(255, 255, 255, 0.2);
  width: 410px;
  border: none;
}
.footer-input::placeholder {
  color: rgb(255, 255, 255);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.footer-input-group {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 165px;
}
.footer-top {
  display: flex;
  padding-top: 46px;
}
.footer-contacts-wrapper {
  display: flex;
}
.footer-title {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  margin-bottom: 19px;
}
.footer-catalog {
  padding: 0;
}
.footer-catalog-item {
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  margin-bottom: 10px;
}
.footer-menu-link {
  text-decoration: none;
}
.footer-catalog-wrapper {
  margin-right: 105px;
}
.footer-buyer {
  padding: 0;
  columns: 2 156px;
}
.footer-buyer-wrapper {
  margin-right: 52px;
}
.call-center {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  margin-bottom: 5px;
}
.footer-phone {
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  text-decoration: none;
}
.footer-time {
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.footer-service-center-wrapper {
  margin-top: 45px;
  margin-left: 28px;
  margin-right: 62px;
}
.call {
  color: rgb(111, 115, 238);
  font-family: "Jost";
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.footer {
  background: rgb(244, 247, 251);
}
.footer-midle {
  display: flex;
  margin-top: 36px;
}
.badge-wrapper {
  margin-left: 59px;
  margin-right: 178px;
}
.badge {
  margin-right: 10px;
}
.button-social {
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-right: 10px;
}
.social {
  display: grid;
  grid-template-columns: 45px 78px;
  grid-template-rows: auto 20px;
  justify-content: end;
  grid-template-areas:
    "img name"
    "img users";
}
.social-name {
  grid-area: name;
  color: rgb(40, 39, 57);
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 40px;
}
.social-users {
  grid-area: users;
  color: rgb(93, 108, 123);
  font-family: "Jost";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  padding-right: 49px;
}
.social-image {
  grid-area: img;
  padding-top: 13px;
  padding-left: 12px;
  padding-bottom: 12px;
}
